# ==========================
# 1. Python 编译与环境文件
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.log

# 虚拟环境 (如果有)
venv/
env/
.venv/

# ==========================
# 2. IDE 与 系统生成文件 (不需要上传)
# ==========================
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db


# 忽略 output 目录下的所有内容
data/output/*
# 保留 output 目录结构（需要你在该目录下新建一个空的 .gitkeep 文件）
!data/output/.gitkeep

# ==========================
# 4. 敏感配置文件
# ==========================
# 忽略真实的 URL 配置文件 (包含内网 IP)
config/base_urls.txt

#忽略可能包含密码的 legacy 文件夹 (如果不需要旧代码)
#legacy/